body{
  margin:0;
  background:#000;
  cursor:crosshair;
}

#document{
  position:relative;
  z-index:1;

  margin:10px;
  width:calc(100vw - 20px);

  display:flex;
  flex-direction:column;
  gap:20px;
}

#pdf-container{
  width:100%;
}

#pdf-container canvas{
  display:block;
  width:100%;
  height:auto;

  margin-bottom:20px;

  background:#fff;
  border-radius:4px;
}

/* MATRIX */

#matrix{
  position:fixed;
  inset:0;

  width:100%;
  height:100%;

  z-index:0;
  pointer-events:none;

  opacity:.045;
}
