* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  background:#000;
}

.contener{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#canvas{
    width:100%;
    height:100%;
    display:block;
    background:#000;
}

/* ── SMALL PHONES ── */
@media screen and (max-width: 480px) and (hover: none) {
  * { user-select: none;}
}
