* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

#canvas{
    position:relative;
    width:100%;
    height:100%;
    display:block;
    background:#000;
}

/* ── SMALL PHONES ── */
@media screen and (max-width: 480px) and (hover: none) {
  #canvas{ height:99%;}
  * { user-select: none;}
}
